zhtml {	height: 100%;}

body {
	margin: 0px;
	padding: 0px;
	font-size:20px;
	line-height: 45px;
	color:#333;
	background-image: url(../img/back.jpg);
	background-repeat: repeat-y;
	background-position: center;
	background-color:#990000;
}



/*contents
---------------------------------------*/
#contents{
	text-align:center;
	margin:0px auto;
	background-color:#000000;
}



a:hover img{
opacity: 0.6;
filter: alpha(opacity=60);
-moz-opacity:0.6;
}


.text1 {
		color: #ffffff;
		font-size: 15px;
		line-height:25px;
		text-align: left;
	}

.text2 {
		color: #ffffff;
		font-size: 40px;
		line-height:25px;
		text-align: center;
	}


div#left {
	margin:0px auto;
	padding:20px 10px 0px 40px;
	height: auto;
	float:left;
}

div#left p {
	margin:0px auto;
	padding:0px 0px 20px 0px;
	width:400px;
}


div#right {
	margin:0px;
	padding:20px 40px 0px 10px;
	height: auto;
	float:right;
}

div#right p {
	margin:0px;
	padding:0px 0px 20px 0px;
	width:400px;
}








/*footer
---------------------------------------*/
#foot{


	background-color:#a6131d;
	padding:10px 0 0 0;
	text-align:center;
	clear:both;
	width:100%;
	height:60px;
	margin:0 auto;
}

.newicon {
	background: #F00;
	color: #FFF;
	font-size: 19px;
	padding: 3px 10px;
	border-radius: 7px;
	margin: 0px 10px;
}

