zhtml {	height: 100%;}

body {
	background-image: url(../img/back.jpg);
	background-repeat: repeat-y;
	background-position: center;
	background-color:#f59721;
}



/*contents
---------------------------------------*/
#contents{
	text-align:center;
	margin:0px auto;
	background-color:#f59721;
}



a:hover img{
opacity: 0.6;
filter: alpha(opacity=60);
-moz-opacity:0.6;
}


.text1 {
		color: #ffffff;
		font-size: 15px;
		line-height:25px;
		text-align: left;
	}

.text2 {
		color: #ffffff;
		font-size: 40px;
		line-height:25px;
		text-align: center;
	}


/*footer
---------------------------------------*/
#foot{


	background-color:#a6131d;
	padding:10px 0 0 0;
	text-align:center;
	clear:both;
	width:100%;
	height:60px;
	margin:0 auto;
}
